body {
  background-color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  min-height: 900px;
}

.images {
  display: flex;
  gap: 20px;
  > * {
    border: 1px solid #000;
  }
}

.controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}
